<app-menu></app-menu>
<div class="container py-3">

    <!-- list movies -->
    <div class="card mb-3 text-center">
        <div class="card-header">
            <h4>Movies</h4>
        </div>
        <div class="card-header">
            <div class="form-group">
                <input class="form-control float-left" style="margin-right: 10px; max-width: 180px;" id="day"
                    type="date">
                <button class="btn btn-outline-success float-left" type="submit" (click)="searchMovieByDay()" title="Search movie by day">
                    Search movies by day</button>
                <a href="#new" type="button" class="btn btn-success float-right" (click)="newMovie = {}" title="New movie">
                    New movie</a>
                <button type="button" class="btn btn-primary float-right" (click)="getMovies()" title="All movies">
                    All movies</button>
                <button type="button" class="btn btn-primary float-right" (click)="getAvailables()" title="Available movies">
                    Available movies</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col" *ngFor="let movie of movies">
                    <div class="card image-card border-success">
                        <a href="#detail" class="go" (click)="getMovie(movie.id)" title="Details">
                            <img [src]="imageUrl" class="card-img-top" alt="{{movie.name}}" title="{{movie.name}}">
                        </a>
                        <div class="card-body">
                          <p class="card-title">{{ movie.name }}</p>
                          <a href="#detail" class="btn btn-outline-success" (click)="getMovie(movie.id)" title="Details">Details</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
    <!-- list movies -->
    <!-- new movie -->
    <div id="new" class="card mb-3" *ngIf="newMovie">
        <div class="card-header">
            <button type="button" class="btn btn-default float-right" (click)="newMovie = null" title="Close">Close</button>
            Create movie
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" [(ngModel)]="newMovie.name"
                            placeholder="Batman" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" name="description" id="description" class="form-control"
                            [(ngModel)]="newMovie.description"
                            placeholder="mimimum 10 characters i.e: Movie about bat hero" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="function_from">Function from</label>
                        <input type="date" name="function_from" id="function_from" class="form-control"
                            [(ngModel)]="newMovie.function_from" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="function_to">Function to</label>
                        <input type="date" name="function_to" id="function_to" class="form-control"
                            [(ngModel)]="newMovie.function_to" required>
                    </div>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary" (click)="createMovie()" title="Save">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- new movie -->
    <!-- show movie -->
    <div id="detail" class="card" *ngIf="movie">
        <div class="card-header card-title">
            <button type="button" class="btn btn-primary float-right" (click)="movie = null" title="Close">Close</button>
            Movie: {{ movie.name }} {{ movie.created_at | date: 'dd-MM-yyyy' }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <strong>Nombre:</strong> {{ movie.name }}
                </div>
                <div class="col-md-6">
                    <strong>Description:</strong> {{ movie.description }}
                </div>
                <div class="col-md-6">
                    <strong>Functions days:</strong> {{ movie.presentation_day }}
                </div>
                <div class="col-md-6">
                    <strong>Functions:</strong> {{ movie.function_from }} - {{ movie.function_to }}
                </div>
            </div>
            <hr>
            <!-- edit movie -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" class="form-control" value="{{ movie.name }}"
                            [(ngModel)]="movie.name" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" name="description" id="description" class="form-control"
                            value="{{ movie.description }}" [(ngModel)]="movie.description" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="function_from">Function from</label>
                        <input type="date" name="function_from" id="function_from" class="form-control"
                            value="{{ movie.function_from }}" [(ngModel)]="movie.function_from" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="function_to">Function to</label>
                        <input type="date" name="function_to" id="function_to" class="form-control"
                            value="{{ movie.function_to }}" [(ngModel)]="movie.function_to" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <img style="width: 200px;" [src]="imageUrl" [alt]="imageUrl"><br><br>
                        <input #image type="file" accept="image/*" (change)="fileInput($event.target.files)">
                    </div>
                </div>
            </div>
            <!-- edit movie -->
            <hr>
            <button class="btn btn-success float-left" (click)="updateMovie(movie)" title="Update">Update</button>
            <button class="btn btn-danger float-right" (click)="deleteMovie(movie.id)" title="Delete">Delete</button>
        </div>
    </div>
    <!-- show movie -->
</div>